.TreeView 
{ 
  background-color:White;
  padding-top:4px; 
  padding-left:1px; 
  border: #7C7C94 1px solid; 
  cursor:default; 
}

.TreeNode 
{ 
  font-family: tahoma; 
  font-size: 11px; 
  padding-top:2px;
  padding-bottom:1px;
  padding-left: 3px; 
  padding-right: 3px; 
}

.TreeNodeNC
{ 
  font-family: tahoma; 
  font-size: 11px; 
  padding-top:2px;
  padding-bottom:1px;
  padding-left: 3px; 
  padding-right: 3px;
  font-style:italic;
  font-weight:bold;
}

.GrayedTreeNode 
{ 
  font-family: tahoma; 
  font-size: 11px; 
  padding-top:2px;
  padding-bottom:1px;
  padding-left: 3px; 
  padding-right: 3px; 
  color:gray; 
  cursor:default;
}

.HoverTreeNode 
{ 
  font-family: tahoma; 
  font-size: 11px; 
  text-decoration:underline; 
  padding-top:2px;
  padding-bottom:1px;
  padding-left: 3px; 
  padding-right: 3px; 
  cursor: default; 
}

.HoverTreeNodeNC
{ 
  font-family: tahoma; 
  font-size: 11px; 
  text-decoration:underline; 
  padding-top:2px;
  padding-bottom:1px;
  padding-left: 3px; 
  padding-right: 3px; 
  cursor: default; 
  font-style:italic;
  font-weight:bold;
}

.SelectedTreeNode 
{ 
  font-family: tahoma; 
  font-size: 11px; 
  background-color: gray; 
  color:white; 
  padding-top:2px;
  padding-bottom:1px;
  padding-left: 3px; 
  padding-right: 3px; 
  cursor: default; 
}

.SelectedTreeNodeNC
{ 
  font-family: tahoma; 
  font-size: 11px; 
  background-color: gray; 
  color:white; 
  padding-top:2px;
  padding-bottom:1px;
  padding-left: 3px; 
  padding-right: 3px; 
  cursor: default; 
  font-style:italic;
  font-weight:bold;
}

.NodeEdit 
{
  border:1px gray solid;
  font-family: tahoma; 
  font-size: 11px;
}
