body {
	color : #000000;
	font-family : "Times New Roman", Times, serif;
	font-size : 10pt;
	width:400px;
}

a {
	text-decoration : underline;
	color : #0000ff;
}

#footer, #header, #JobBanner {
	display : none;
}

.break 
{
	page-break-before: always; 
}